Repository opencv-ai/oak-model-samples: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, prettier, black

isort:
  name: isort
  entry: python3 -m isort -y --settings-path pyproject.toml
  language: system

prettier:
  name: prettier
  language: docker_image
  entry: tmknom/prettier:2.0.5 --parser=yaml --write --config ./.prettierrc

black:
  name: black
  language: system
  entry: black --config pyproject.toml

Update .gitattributes
  .gitattributes
Due: none

Update .gitignore
  .gitignore
Due: none

Pre-Commit config added (#1)
  .flake8
  .gitattributes
  .gitignore
  .isort.cfg
  .pre-commit-config.yaml
  .prettierrc
  README.md
  pyproject.toml
Due: prettier

Added inference model
  .gitignore
  .isort.cfg
  face_detection_retail/LICENSE
  face_detection_retail/checkpoint/model.blob
  face_detection_retail/colors.py
  face_detection_retail/face_detection_retail/__init__.py
  face_detection_retail/face_detection_retail/model.py
  face_detection_retail/inference.py
  face_detection_retail/setup.py
  face_detection_retail/visualization.py
  requirements-dev.txt
Due: isort, black

Added gif and demo sample
  .isort.cfg
  face_detection_retail/README.md
  face_detection_retail/demo.gif
  face_detection_retail/demo.mp4
  face_detection_retail/inference.py
Due: isort, prettier, black

Removed return from inference.py
  face_detection_retail/inference.py
Due: isort, black

Added tests and preview size
  .isort.cfg
  face_detection_retail/face_detection_retail/model.py
  face_detection_retail/inference.py
  face_detection_retail/tests/face_detection.jpg
  face_detection_retail/tests/face_detection_gt.json
  face_detection_retail/tests/test_oak_face_detection_retail.py
Due: isort, black

Renamed tests
  face_detection_retail/tests/test_face_detection_retail.py
Due: isort, black

Added model
  .isort.cfg
  age_gender_recognition_retail/LICENSE
  age_gender_recognition_retail/age_gender_recognition_retail/__init__.py
  age_gender_recognition_retail/age_gender_recognition_retail/face_processing.py
  age_gender_recognition_retail/age_gender_recognition_retail/model.py
  age_gender_recognition_retail/checkpoint/stage_1.blob
  age_gender_recognition_retail/checkpoint/stage_2.blob
  age_gender_recognition_retail/colors.py
  age_gender_recognition_retail/inference.py
  age_gender_recognition_retail/setup.py
  age_gender_recognition_retail/tests/age_gender_recognition_retail.jpeg
  age_gender_recognition_retail/tests/age_gender_recognition_retail_gt.json
  age_gender_recognition_retail/tests/test_age_gender_recognition_retail.py
  age_gender_recognition_retail/visualization.py
Due: isort, black

Added readme
  age_gender_recognition_retail/README.md
Due: prettier

Updated README
  face_detection_retail/README.md
Due: prettier

Added demo
  age_gender_recognition_retail/demo.gif
  age_gender_recognition_retail/demo.mp4
  age_gender_recognition_retail/inference.py
Due: isort, black

Updated path for results
  face_detection_retail/inference.py
Due: isort, black

Switched to API package
  .isort.cfg
  face_detection_retail/README.md
  face_detection_retail/colors.py
  face_detection_retail/face_detection_retail/model.py
  face_detection_retail/inference.py
  face_detection_retail/setup.py
  face_detection_retail/visualization.py
Due: isort, prettier, black

Switched to API package
  .isort.cfg
  age_gender_recognition_retail/age_gender_recognition_retail/face_processing.py
  age_gender_recognition_retail/age_gender_recognition_retail/model.py
  age_gender_recognition_retail/colors.py
  age_gender_recognition_retail/inference.py
  age_gender_recognition_retail/setup.py
  age_gender_recognition_retail/visualization.py
Due: isort, black

Moved shapes into constructor
  age_gender_recognition_retail/age_gender_recognition_retail/model.py
Due: isort, black

Update README
  age_gender_recognition_retail/README.md
Due: prettier

Face Detection Retail (#2)
  .gitignore
  .isort.cfg
  face_detection_retail/LICENSE
  face_detection_retail/README.md
  face_detection_retail/checkpoint/model.blob
  face_detection_retail/demo.gif
  face_detection_retail/demo.mp4
  face_detection_retail/face_detection_retail/__init__.py
  face_detection_retail/face_detection_retail/model.py
  face_detection_retail/inference.py
  face_detection_retail/setup.py
  face_detection_retail/tests/face_detection.jpg
  face_detection_retail/tests/face_detection_gt.json
  face_detection_retail/tests/test_face_detection_retail.py
  requirements-dev.txt
Due: isort, prettier, black

Age Gender Recognition (#3)
  .isort.cfg
  age_gender_recognition_retail/LICENSE
  age_gender_recognition_retail/README.md
  age_gender_recognition_retail/age_gender_recognition_retail/__init__.py
  age_gender_recognition_retail/age_gender_recognition_retail/face_processing.py
  age_gender_recognition_retail/age_gender_recognition_retail/model.py
  age_gender_recognition_retail/checkpoint/stage_1.blob
  age_gender_recognition_retail/checkpoint/stage_2.blob
  age_gender_recognition_retail/demo.gif
  age_gender_recognition_retail/demo.mp4
  age_gender_recognition_retail/inference.py
  age_gender_recognition_retail/setup.py
  age_gender_recognition_retail/tests/age_gender_recognition_retail.jpeg
  age_gender_recognition_retail/tests/age_gender_recognition_retail_gt.json
  age_gender_recognition_retail/tests/test_age_gender_recognition_retail.py
  age_gender_recognition_retail/visualization.py
Due: isort, prettier, black

added some inference code
  emotion_recognition_retail/inference.py
  face_detection_adas/inference.py
  mobilenet_ssd/inference.py
Due: isort, black

Fix pedestrian detection and face detection retail
  age_gender_recognition_retail/setup.py
  create_gif.py
  face_detection_retail/setup.py
  pedestrian_detection_adas/README.md
  pedestrian_detection_adas/demo.gif
  pedestrian_detection_adas/demo.mp4
  pedestrian_detection_adas/inference.py
  pedestrian_detection_adas/pedestrian_detection_adas/model.py
  pedestrian_detection_adas/setup.py
Due: isort, prettier, black

Fixed adas detection
  face_detection_adas/README.md
  face_detection_adas/demo.gif
  face_detection_adas/demo.mp4
  face_detection_adas/face_detection_adas/model.py
  face_detection_adas/inference.py
  face_detection_adas/setup.py
Due: isort, prettier, black

Fix person-vehicle-bike-detection-crossroad
  person_vehicle_bike_detection_crossroad/README.md
  person_vehicle_bike_detection_crossroad/demo.gif
  person_vehicle_bike_detection_crossroad/demo.mp4
  person_vehicle_bike_detection_crossroad/inference.py
  person_vehicle_bike_detection_crossroad/person_vehicle_bike_detection_crossroad/model.py
  person_vehicle_bike_detection_crossroad/setup.py
Due: isort, prettier, black

Fix vehicle-detection-adas
  vehicle_detection_adas/README.md
  vehicle_detection_adas/demo.gif
  vehicle_detection_adas/demo.mp4
  vehicle_detection_adas/inference.py
  vehicle_detection_adas/setup.py
Due: isort, prettier, black

Fix textboxes
  textboxes_plus_plus/README.md
  textboxes_plus_plus/demo.gif
  textboxes_plus_plus/demo.mp4
  textboxes_plus_plus/inference.py
  textboxes_plus_plus/setup.py
Due: isort, prettier, black

Fixed facial landmarks 35
  create_gif.py
  facial_landmarks_35_adas/README.md
  facial_landmarks_35_adas/demo.gif
  facial_landmarks_35_adas/demo.mp4
  facial_landmarks_35_adas/facial_landmarks_35_adas/model.py
  facial_landmarks_35_adas/inference.py
  facial_landmarks_35_adas/setup.py
Due: isort, prettier, black

Fix landmarks regression
  create_gif.py
  landmarks_regression_retail/README.md
  landmarks_regression_retail/demo.gif
  landmarks_regression_retail/demo.mp4
  landmarks_regression_retail/inference.py
  landmarks_regression_retail/landmarks_regression_retail/model.py
  landmarks_regression_retail/setup.py
Due: isort, prettier, black

README changed
  mobilenet_ssd/README.md
  mobilenet_ssd/aeroplane_demo.mp4
  mobilenet_ssd/inference.py
  mobilenet_ssd/inference_results.json
  mobilenet_ssd/peoples_demo.mp4
Due: isort, prettier, black

Fix east detector
  east_text_detector/README.md
  east_text_detector/demo.gif
  east_text_detector/demo.mp4
  east_text_detector/east_text_detector/model.py
  east_text_detector/inference.py
  east_text_detector/setup.py
Due: isort, prettier, black

Fix DBFace
  create_gif.py
  dbface/README.md
  dbface/demo.gif
  dbface/demo.mp4
  dbface/inference.py
  dbface/setup.py
Due: isort, prettier, black

Added inference for vehicle lisense plate
  vehicle_license_plate_detection_barrier/README.md
  vehicle_license_plate_detection_barrier/inference.py
  vehicle_license_plate_detection_barrier/setup.py
Due: isort, prettier, black

tiny yolov3 added
  person_detection_retail/README.md
  person_detection_retail/demo.gif
  person_detection_retail/demo.mp4
  person_detection_retail/inference.py
  person_detection_retail/person_detection_retail/model.py
  tiny_yolo_v3/README.md
  tiny_yolo_v3/demo.gif
  tiny_yolo_v3/demo.mp4
  tiny_yolo_v3/inference.py
Due: isort, prettier, black

yolov3 deleted, demo size reduced
  person_detection_retail/demo.gif
  person_detection_retail/demo.mp4
  tiny_yolo_v3/demo.gif
  tiny_yolo_v3/demo.mp4
  yolo_v3/LICENSE
  yolo_v3/checkpoint/model.blob
  yolo_v3/setup.py
  yolo_v3/tests/test_yolo_v3.py
  yolo_v3/tests/yolo_v3.jpg
  yolo_v3/tests/yolo_v3_gt.json
  yolo_v3/yolo_v3/__init__.py
  yolo_v3/yolo_v3/model.py
Due: isort, black

mobilenet demo size reduced
  mobilenet_ssd/demo.gif
  mobilenet_ssd/demo.mp4
Due: none

work with visualization[in progress]
  age_gender_recognition_retail/inference.py
  emotion_recognition_retail/README.md
  emotion_recognition_retail/demo.gif
  emotion_recognition_retail/demo.mp4
  emotion_recognition_retail/emotion_recognition_retail/model.py
  emotion_recognition_retail/inference.py
  emotion_recognition_retail/visualization.py
Due: isort, prettier, black

README fixed
  emotion_recognition_retail/README.md
Due: prettier

demo changed
  emotion_recognition_retail/demo.gif
  emotion_recognition_retail/demo_old.gif
  emotion_recognition_retail/visualization.py
Due: isort, black

demo changed
  age_gender_recognition_retail/demo.gif
  age_gender_recognition_retail/visualization.py
  emotion_recognition_retail/demo.gif
  emotion_recognition_retail/visualization.py
Due: isort, black

Path conditions:
  isort: any of: \.py$
  prettier: (any of: (?!(styles|ci)/)\.md$) or (any of: \.ya?ml$)
  black: any of: \.py$
