Repository opencv-ai/oak-model-samples: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, prettier, black

.pre-commit-config.yaml:

default_language_version:
  python: python3.7
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
      - id: check-yaml
      - id: trailing-whitespace
        files: '\.(py|md|txt)$'
      - id: end-of-file-fixer
        files: '\.(py|md|txt)$'
      - id: check-ast
      - id: mixed-line-ending
      - id: requirements-txt-fixer

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.7
    hooks:
      - id: remove-tabs
        files: \.(py,md)$
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v2.0.1
    hooks:
      - id: add-trailing-comma
        files: \.py$
  - repo: https://github.com/asottile/seed-isort-config
    rev: v2.1.1
    hooks:
      - id: seed-isort-config
        files: \.py$
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: python3 -m isort -y --settings-path pyproject.toml
        types: [python]
        language: system
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: docker_image
        entry: tmknom/prettier:2.0.5 --parser=markdown --write --config ./.prettierrc
        files: (?!(styles|ci)/)\.md$
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: docker_image
        entry: tmknom/prettier:2.0.5 --parser=yaml --write --config ./.prettierrc
        files: \.ya?ml$
  - repo: local
    hooks:
      - id: black
        name: black
        types: [python]
        language: system
        entry: black --config pyproject.toml

added pose estimation, without giff for now
  pose_estimation/LICENSE
  pose_estimation/checkpoint/model.blob
  pose_estimation/inference.py
  pose_estimation/pose_estimation/__init__.py
  pose_estimation/pose_estimation/model.py
  pose_estimation/pose_estimation/utils.py
  pose_estimation/setup.py
  pose_estimation/tests/openvino_pose_estimation.jpg
  pose_estimation/tests/openvino_pose_estimation_gt.json
  pose_estimation/tests/test_openvino_pose_estimation.py
Due: isort, black

Updated API
  face_detection_retail/face_detection_retail/model.py
Due: isort, black

remove redundant comentsa
  age_gender_recognition_retail/visualization.py
  emotion_recognition_retail/visualization.py
Due: isort, black

Updated API
  .isort.cfg
  age_gender_recognition_retail/age_gender_recognition_retail/model.py
  age_gender_recognition_retail/inference.py
  age_gender_recognition_retail/visualization.py
  blaze_face/blaze_face/model.py
  centernet/centernet/model.py
  dbface/dbface/model.py
  east_text_detector/east_text_detector/model.py
  emotion_recognition_retail/README.md
  emotion_recognition_retail/emotion_recognition_retail/model.py
  emotion_recognition_retail/inference.py
  emotion_recognition_retail/visualization.py
  face_detection_adas/face_detection_adas/model.py
  facial_landmarks_35_adas/facial_landmarks_35_adas/model.py
  hand_detection/hand_detection/model.py
  landmarks_regression_retail/landmarks_regression_retail/model.py
  mobilenet_ssd/README.md
  mobilenet_ssd/mobilenet_ssd/model.py
  open_pose/open_pose/model.py
  pedestrian_detection_adas/pedestrian_detection_adas/model.py
  person_detection_retail/README.md
  person_detection_retail/person_detection_retail/model.py
  person_vehicle_bike_detection_crossroad/person_vehicle_bike_detection_crossroad/model.py
  pose_estimation/pose_estimation/model.py
  pose_estimation/setup.py
  pose_estimation/tests/test_openvino_pose_estimation.py
  textboxes_plus_plus/textboxes_plus_plus/model.py
  tiny_yolo_v3/README.md
  tiny_yolo_v3/tiny_yolo_v3/model.py
  vehicle_detection_adas/vehicle_detection_adas/model.py
  vehicle_license_plate_detection_barrier/vehicle_license_plate_detection_barrier/model.py
Due: isort, prettier, black

api updated
  yolov4_tiny/yolov4_tiny/model.py
Due: isort, black

fix
  yolov4_tiny/setup.py
Due: isort, black

added lightweight openpose
  create_gif.py
  lightweight_openpose/LICENSE
  lightweight_openpose/README.md
  lightweight_openpose/checkpoint/model.blob
  lightweight_openpose/demo.gif
  lightweight_openpose/demo.mp4
  lightweight_openpose/inference.py
  lightweight_openpose/lightweight_openpose/__init__.py
  lightweight_openpose/lightweight_openpose/model.py
  lightweight_openpose/lightweight_openpose/utils.py
  lightweight_openpose/setup.py
  lightweight_openpose/tests/openvino_pose_estimation.jpg
  lightweight_openpose/tests/openvino_pose_estimation_gt.json
  lightweight_openpose/tests/test_lightweight_openpose.py
Due: isort, prettier, black

integrating openpose
  openpose/LICENSE
  openpose/checkpoint/model.blob
  openpose/openpose/__init__.py
  openpose/openpose/model.py
  openpose/setup.py
  openpose/tests/000000000139.jpg
  openpose/tests/000000000139_gt.json
  openpose/tests/test_open_pose.py
Due: isort, black

naming fixed, redundant code removed
  lightweight_openpose/lightweight_openpose/model.py
  lightweight_openpose/lightweight_openpose/utils.py
  lightweight_openpose/setup.py
  lightweight_openpose/tests/pose_estimation.jpg
  lightweight_openpose/tests/pose_estimation_gt.json
  lightweight_openpose/tests/test_lightweight_openpose.py
Due: isort, black

added openpose
  create_gif.py
  openpose/README.md
  openpose/demo.gif
  openpose/demo.mp4
  openpose/inference.py
  openpose/openpose/model.py
  openpose/setup.py
Due: isort, prettier, black

remove redundant code, add missed requirement
  openpose/openpose/__init__.py
  openpose/setup.py
  openpose/tests/test_open_pose.py
Due: isort, black

fixed version, remove redundant code
  lightweight_openpose/lightweight_openpose/__init__.py
  lightweight_openpose/lightweight_openpose/model.py
  lightweight_openpose/setup.py
Due: isort, black

fixed version
  openpose/setup.py
Due: isort, black

remove redundant code, move parameters to json file
  yolov4_tiny/yolov4_tiny/model.py
  yolov4_tiny/yolov4_tiny/yolov4_params.json
Due: isort, black

added threshold for result visualization
  create_gif.py
  lightweight_openpose/inference.py
Due: isort, black

MP-483 Generate new GT json outputs by running on Raspberry PI + OAK for all OAK models
  age_gender_recognition_retail/tests/age_gender_recognition_retail_gt.json
  dbface/tests/dbface_gt.json
  east_text_detector/tests/east_text_detector_gt.json
  face_detection_adas/tests/face_detection_gt.json
  face_detection_retail/tests/face_detection_gt.json
  facial_landmarks_35_adas/tests/facial_landmarks_35_adas_gt.json
  mobilenet_ssd/tests/mobilenet_ssd_gt.json
  pedestrian_detection_adas/tests/pedestrian_detection_gt.json
  person_detection_retail/tests/openvino_person_detection_retail_gt.json
  person_vehicle_bike_detection_crossroad/tests/person_vehicle_bike_detection_crossroad_gt.json
  textboxes_plus_plus/tests/000000000885_textboxes_gt.json
  tiny_yolo_v3/tests/tiny_yolo_v3_gt.json
  vehicle_detection_adas/tests/vehicle_detection_gt.json
  vehicle_license_plate_detection_barrier/tests/vehicle_license_plate_detection_barrier_gt.json
Due: none

added conertion from RGBA to RGB
  lightweight_openpose/tests/test_lightweight_openpose.py
Due: isort, black

convert to RGB from RGBA
  openpose/tests/test_open_pose.py
Due: isort, black

Deleted useless lines in test files of models (face_detection_adas, vehicle_license_plate_detection_barrier) and in sh script
  .gitlab-ci.yml
  age_gender_recognition_retail/tests/test_age_gender_recognition_retail.py
  ci/install_packages.sh
  ci/uninstall_packages.sh
  dbface/tests/test_dbface.py
  east_text_detector/tests/test_east_text_detector.py
  emotion_recognition_retail/tests/test_emotion_recognition_retail.py
  face_detection_adas/tests/test_face_detection_adas.py
  face_detection_retail/tests/test_face_detection_retail.py
  facial_landmarks_35_adas/tests/test_facial_landmarks_35_adas.py
  landmarks_regression_retail/tests/test_landmarks_regression_retail.py
  mobilenet_ssd/tests/test_mobilenet_ssd.py
  pedestrian_detection_adas/tests/test_pedestrian_detection_adas.py
  person_detection_retail/tests/test_person_detection_retail.py
  person_vehicle_bike_detection_crossroad/tests/test_person_vehicle_bike_detection_crossroad.py
  requirements.txt
  test.sh
  test_utils.py
  textboxes_plus_plus/tests/test_textboxes_plus_plus.py
  tiny_yolo_v3/tests/test_tiny_yolo_v3.py
  vehicle_detection_adas/tests/test_vehicle_detection_adas.py
  vehicle_license_plate_detection_barrier/tests/test_vehicle_license_plate_detection_barrier.py
Due: isort, prettier, black

test added
  yolov4_tiny/tests/openvino_yolov4_tiny_gt.json
  yolov4_tiny/tests/test_openvino_tiny_yolo_v4.py
  yolov4_tiny/tests/yolov4_tiny_test.jpg
  yolov4_tiny/yolov4_tiny/__init__.py
Due: isort, black

made json on oak
  lightweight_openpose/tests/pose_estimation_gt.json
Due: none

MP-494 Add code lint in CI
  .gitlab-ci.yml
  .isort.cfg
  test_utils.py
  textboxes_plus_plus/tests/test_textboxes_plus_plus.py
  tiny_yolo_v3/tests/test_tiny_yolo_v3.py
  vehicle_detection_adas/tests/test_vehicle_detection_adas.py
  vehicle_license_plate_detection_barrier/tests/test_vehicle_license_plate_detection_barrier.py
Due: isort, prettier, black

update
  create_gif.py
  openpose/README.md
  openpose/inference.py
  openpose/tests/000000000139_gt.json
Due: isort, prettier, black

recfactoring
  yolov4_tiny/README.md
  yolov4_tiny/inference.py
  yolov4_tiny/setup.py
Due: isort, prettier, black

Update README.md
  openpose/README.md
Due: prettier

Update README.md
  lightweight_openpose/README.md
Due: prettier

Update README.md
  yolov4_tiny/README.md
Due: prettier

Update inference.py
  lightweight_openpose/inference.py
Due: isort, black

Update create_gif.py
  create_gif.py
Due: isort, black

fix code style
  create_gif.py
  lightweight_openpose/README.md
Due: isort, prettier, black

fix code style
  create_gif.py
  openpose/README.md
Due: isort, prettier, black

fix code style
  create_gif.py
  yolov4_tiny/README.md
Due: isort, prettier, black

naming changed
  yolov4_tiny/tests/test_openvino_tiny_yolo_v4.py
  yolov4_tiny/tests/yolov4_tiny_gt.json
Due: isort, black

MP-480 Palm Detection
  docs/adr/palm_detection_conversion.md
  palm_detection/LICENSE
  palm_detection/README.md
  palm_detection/checkpoint/model.blob
  palm_detection/demo.gif
  palm_detection/demo.mp4
  palm_detection/inference.py
  palm_detection/palm_detection/__init__.py
  palm_detection/palm_detection/model.py
  palm_detection/palm_detection/postprocessing.py
  palm_detection/palm_detection/ssd_anchors.csv
  palm_detection/setup.py
  palm_detection/tests/palm_detection.jpg
  palm_detection/tests/palm_detection_gt.json
  palm_detection/tests/test_palm_detection.py
Due: isort, prettier, black

nms changed
  yolov4_tiny/yolov4_tiny/model.py
Due: isort, black
