Repository opencv-ai/oak-model-samples: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, prettier, black

isort:
  name: isort
  entry: python3 -m isort -y --settings-path pyproject.toml
  language: system

prettier:
  name: prettier
  language: docker_image
  entry: tmknom/prettier:2.0.5 --parser=yaml --write --config ./.prettierrc

black:
  name: black
  language: system
  entry: black --config pyproject.toml

remove redundant install
  .gitlab-ci.yml
Due: prettier

New gt jsons for hand_pose_estimation and palm_detection models
  ci/test_package.sh
  hand_pose_estimation/tests/hand_pose_estimation_gt.json
  palm_detection/tests/palm_detection_gt.json
Due: none

add model in github actions workflow
  .github/workflows/build_packages.yml
Due: prettier

fix comments
  hand_pose_estimation/hand_pose_estimation/utils.py
  palm_detection/tests/test_palm_detection.py
Due: isort, black

remove redundant import
  palm_detection/tests/test_palm_detection.py
Due: isort, black

linter fixed
  .isort.cfg
  palm_detection/tests/test_palm_detection.py
Due: isort, black

Use full name for OAK, simplify language on usage
  README.md
Due: prettier

Use full name for OAK, simplify language on usage (#12)
  README.md
Due: prettier

Path conditions:
  isort: any of: \.py$
  prettier: (any of: (?!(styles|ci)/)\.md$) or (any of: \.ya?ml$)
  black: any of: \.py$
