Repository opencv-ai/oak-model-samples: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, prettier, black

.pre-commit-config.yaml:

default_language_version:
  python: python3.7
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
      - id: check-yaml
      - id: trailing-whitespace
        files: '\.(py|md|txt)$'
      - id: end-of-file-fixer
        files: '\.(py|md|txt)$'
      - id: check-ast
      - id: mixed-line-ending
      - id: requirements-txt-fixer

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.7
    hooks:
      - id: remove-tabs
        files: \.(py,md)$
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v2.0.1
    hooks:
      - id: add-trailing-comma
        files: \.py$
  - repo: https://github.com/asottile/seed-isort-config
    rev: v2.1.1
    hooks:
      - id: seed-isort-config
        files: \.py$
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: python3 -m isort -y --settings-path pyproject.toml
        types: [python]
        language: system
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: docker_image
        entry: tmknom/prettier:2.0.5 --parser=markdown --write --config ./.prettierrc
        files: (?!(styles|ci)/)\.md$
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: docker_image
        entry: tmknom/prettier:2.0.5 --parser=yaml --write --config ./.prettierrc
        files: \.ya?ml$
  - repo: local
    hooks:
      - id: black
        name: black
        types: [python]
        language: system
        entry: black --config pyproject.toml

added demo
  vehicle_license_plate_detection_barrier/demo.gif
  vehicle_license_plate_detection_barrier/demo.mp4
Due: none

Jsons for new models
  lightweight_openpose/tests/pose_estimation_gt.json
  lightweight_openpose/tests/test_lightweight_openpose.py
  openpose/tests/000000000139_gt.json
  openpose/tests/test_open_pose.py
  palm_detection/tests/palm_detection_gt.json
  palm_detection/tests/test_palm_detection.py
  yolov4_tiny/tests/test_openvino_tiny_yolo_v4.py
  yolov4_tiny/tests/yolov4_tiny_gt.json
Due: isort, black

Retry failed tests
  .isort.cfg
  age_gender_recognition_retail/tests/test_age_gender_recognition_retail.py
  dbface/tests/test_dbface.py
  east_text_detector/tests/test_east_text_detector.py
  emotion_recognition_retail/tests/test_emotion_recognition_retail.py
  face_detection_adas/tests/test_face_detection_adas.py
  face_detection_retail/tests/test_face_detection_retail.py
  facial_landmarks_35_adas/tests/test_facial_landmarks_35_adas.py
  landmarks_regression_retail/tests/test_landmarks_regression_retail.py
  lightweight_openpose/tests/test_lightweight_openpose.py
  mobilenet_ssd/tests/test_mobilenet_ssd.py
  openpose/tests/test_open_pose.py
  palm_detection/tests/test_palm_detection.py
  pedestrian_detection_adas/tests/test_pedestrian_detection_adas.py
  person_detection_retail/tests/test_person_detection_retail.py
  person_vehicle_bike_detection_crossroad/tests/test_person_vehicle_bike_detection_crossroad.py
  requirements.txt
  test_utils.py
  textboxes_plus_plus/tests/test_textboxes_plus_plus.py
  tiny_yolo_v3/tests/test_tiny_yolo_v3.py
  vehicle_detection_adas/tests/test_vehicle_detection_adas.py
  vehicle_license_plate_detection_barrier/tests/test_vehicle_license_plate_detection_barrier.py
  yolov4_tiny/tests/test_openvino_tiny_yolo_v4.py
Due: isort, black

Update LICENSE
  age_gender_recognition_retail/LICENSE
  dbface/LICENSE
  east_text_detector/LICENSE
  emotion_recognition_retail/LICENSE
  face_detection_adas/LICENSE
  face_detection_retail/LICENSE
  facial_landmarks_35_adas/LICENSE
  landmarks_regression_retail/LICENSE
  lightweight_openpose/LICENSE
  mobilenet_ssd/LICENSE
  openpose/LICENSE
  palm_detection/LICENSE
  pedestrian_detection_adas/LICENSE
  person_detection_retail/LICENSE
  person_vehicle_bike_detection_crossroad/LICENSE
  tiny_yolo_v3/LICENSE
  vehicle_detection_adas/LICENSE
  vehicle_license_plate_detection_barrier/LICENSE
  yolov4_tiny/LICENSE
Due: none

Removed redundant file
  east_text_detector/inference.py
Due: isort, black

MP-549 Wrap pytest with retries in bash script
  .gitlab-ci.yml
  ci/run_test.sh
Due: prettier

MP-550 Set up CD for GitHub auto mirroring
  .gitlab-ci.yml
Due: prettier

GitHub mirror, pytest wrapper
  .gitlab-ci.yml
  ci/run_test.sh
Due: prettier

MP-553 Update EAST post-processing
  east_text_detector/east_text_detector/model.py
  east_text_detector/east_text_detector/postprocessing.py
  east_text_detector/tests/000000000885.jpg
  east_text_detector/tests/east_text_detector_gt.json
  east_text_detector/tests/openvino_east_text_detector.png
  east_text_detector/tests/test_east_text_detector.py
Due: isort, black

MP-548 fix typos and versions
  .gitlab-ci.yml
  age_gender_recognition_retail/setup.py
  create_gif.py
  dbface/setup.py
  east_text_detector/setup.py
  east_text_detector/tests/east_text_detector_gt.json
  east_text_detector/tests/test_east_text_detector.py
  emotion_recognition_retail/setup.py
  face_detection_adas/setup.py
  face_detection_retail/setup.py
  facial_landmarks_35_adas/setup.py
  landmarks_regression_retail/setup.py
  lightweight_openpose/main.py
  lightweight_openpose/setup.py
  mobilenet_ssd/setup.py
  openpose/main.py
  openpose/setup.py
  palm_detection/setup.py
  pedestrian_detection_adas/setup.py
  person_detection_retail/setup.py
  person_vehicle_bike_detection_crossroad/setup.py
  textboxes_plus_plus/setup.py
  tiny_yolo_v3/setup.py
  vehicle_detection_adas/setup.py
  vehicle_license_plate_detection_barrier/setup.py
  yolov4_tiny/setup.py
Due: isort, prettier, black

MP-227 Removed to_device
  age_gender_recognition_retail/age_gender_recognition_retail/face_processing.py
  age_gender_recognition_retail/tests/test_age_gender_recognition_retail.py
  dbface/tests/test_dbface.py
  east_text_detector/tests/test_east_text_detector.py
  emotion_recognition_retail/emotion_recognition_retail/face_processing.py
  emotion_recognition_retail/tests/test_emotion_recognition_retail.py
  face_detection_adas/tests/test_face_detection_adas.py
  face_detection_retail/tests/test_face_detection_retail.py
  facial_landmarks_35_adas/facial_landmarks_35_adas/face_processing.py
  facial_landmarks_35_adas/tests/test_facial_landmarks_35_adas.py
  landmarks_regression_retail/landmarks_regression_retail/face_processing.py
  landmarks_regression_retail/tests/test_landmarks_regression_retail.py
  lightweight_openpose/tests/test_lightweight_openpose.py
  mobilenet_ssd/tests/test_mobilenet_ssd.py
  oak_inference_utils/base_model.py
  openpose/tests/test_open_pose.py
  palm_detection/tests/test_palm_detection.py
  pedestrian_detection_adas/tests/test_pedestrian_detection_adas.py
  person_detection_retail/tests/test_person_detection_retail.py
  person_vehicle_bike_detection_crossroad/tests/test_person_vehicle_bike_detection_crossroad.py
  textboxes_plus_plus/tests/test_textboxes_plus_plus.py
  tiny_yolo_v3/tests/test_tiny_yolo_v3.py
  vehicle_detection_adas/tests/test_vehicle_detection_adas.py
  vehicle_license_plate_detection_barrier/tests/test_vehicle_license_plate_detection_barrier.py
  yolov4_tiny/tests/test_openvino_tiny_yolo_v4.py
Due: isort, black

MP-584 Changed area threshold for 2 stage models, cleared bbox preprocessing for facial_landmarks
  .gitlab-ci.yml
  age_gender_recognition_retail/age_gender_recognition_retail/model.py
  age_gender_recognition_retail/setup.py
  dbface/demo.gif
  dbface/setup.py
  east_text_detector/setup.py
  emotion_recognition_retail/emotion_recognition_retail/model.py
  emotion_recognition_retail/setup.py
  face_detection_adas/setup.py
  face_detection_retail/setup.py
  facial_landmarks_35_adas/demo.gif
  facial_landmarks_35_adas/facial_landmarks_35_adas/model.py
  facial_landmarks_35_adas/setup.py
  facial_landmarks_35_adas/tests/facial_landmarks_35_adas_gt.json
  landmarks_regression_retail/demo.gif
  landmarks_regression_retail/landmarks_regression_retail/model.py
  landmarks_regression_retail/setup.py
  landmarks_regression_retail/tests/landmarks_regression_retail_gt.json
  lightweight_openpose/setup.py
  mobilenet_ssd/setup.py
  openpose/setup.py
  palm_detection/setup.py
  pedestrian_detection_adas/setup.py
  person_detection_retail/setup.py
  person_vehicle_bike_detection_crossroad/setup.py
  textboxes_plus_plus/setup.py
  tiny_yolo_v3/setup.py
  vehicle_detection_adas/setup.py
  vehicle_license_plate_detection_barrier/setup.py
  yolov4_tiny/setup.py
Due: isort, prettier, black

Changed the line how to get lfs objects in the mirroring stage
  .gitlab-ci.yml
Due: prettier

Added windows support
  age_gender_recognition_retail/setup.py
  dbface/setup.py
  docs/INSTALLATION_USAGE_GUIDE.md
  east_text_detector/setup.py
  emotion_recognition_retail/setup.py
  face_detection_adas/setup.py
  face_detection_retail/setup.py
  facial_landmarks_35_adas/setup.py
  landmarks_regression_retail/setup.py
  lightweight_openpose/setup.py
  mobilenet_ssd/setup.py
  openpose/setup.py
  palm_detection/setup.py
  pedestrian_detection_adas/setup.py
  person_detection_retail/setup.py
  person_vehicle_bike_detection_crossroad/setup.py
  textboxes_plus_plus/setup.py
  tiny_yolo_v3/setup.py
  vehicle_detection_adas/setup.py
  vehicle_license_plate_detection_barrier/setup.py
  yolov4_tiny/setup.py
Due: isort, prettier, black

MP-661 Add troubleshooting / instruction for Windows sections to oak-model-samples
  docs/INSTALLATION_USAGE_GUIDE.md
Due: prettier

GitHub mirror, pytest wrapper
  .gitlab-ci.yml
Due: prettier

changed setup for models
  age_gender_recognition_retail/setup.py
  dbface/setup.py
  east_text_detector/setup.py
  emotion_recognition_retail/setup.py
  face_detection_adas/setup.py
  face_detection_retail/setup.py
  facial_landmarks_35_adas/setup.py
  landmarks_regression_retail/setup.py
  lightweight_openpose/setup.py
  mobilenet_ssd/setup.py
  openpose/setup.py
  palm_detection/setup.py
  pedestrian_detection_adas/setup.py
  person_detection_retail/setup.py
  person_vehicle_bike_detection_crossroad/setup.py
  textboxes_plus_plus/setup.py
  tiny_yolo_v3/setup.py
  vehicle_detection_adas/setup.py
  vehicle_license_plate_detection_barrier/setup.py
  yolov4_tiny/setup.py
Due: isort, black

Readme update
  README.md
  docs/INSTALLATION_USAGE_GUIDE.md
Due: prettier

Update INSTALLATION_USAGE_GUIDE.md
  docs/INSTALLATION_USAGE_GUIDE.md
Due: prettier

Upgraded the version for modelplace-api
  age_gender_recognition_retail/setup.py
  dbface/setup.py
  east_text_detector/setup.py
  emotion_recognition_retail/setup.py
  face_detection_adas/setup.py
  face_detection_retail/setup.py
  facial_landmarks_35_adas/setup.py
  landmarks_regression_retail/setup.py
  lightweight_openpose/setup.py
  mobilenet_ssd/setup.py
  openpose/setup.py
  palm_detection/setup.py
  pedestrian_detection_adas/setup.py
  person_detection_retail/setup.py
  person_vehicle_bike_detection_crossroad/setup.py
  textboxes_plus_plus/setup.py
  tiny_yolo_v3/setup.py
  vehicle_detection_adas/setup.py
  vehicle_license_plate_detection_barrier/setup.py
  yolov4_tiny/setup.py
Due: isort, black

MP-719 Set up GitHub Actions with Windows and Different Python versions
  .github/workflows/build_packages.yml
Due: prettier

Update README.md
  README.md
  docs/INSTALLATION_USAGE_GUIDE.md
Due: prettier

Set up GitHub Actions with Windows and Different Python versions
  .github/workflows/build_packages.yml
  README.md
  age_gender_recognition_retail/setup.py
  dbface/setup.py
  docs/INSTALLATION_USAGE_GUIDE.md
  east_text_detector/setup.py
  emotion_recognition_retail/setup.py
  face_detection_adas/setup.py
  face_detection_retail/setup.py
  facial_landmarks_35_adas/setup.py
  landmarks_regression_retail/setup.py
  lightweight_openpose/setup.py
  mobilenet_ssd/setup.py
  openpose/setup.py
  palm_detection/setup.py
  pedestrian_detection_adas/setup.py
  person_detection_retail/setup.py
  person_vehicle_bike_detection_crossroad/setup.py
  textboxes_plus_plus/setup.py
  tiny_yolo_v3/setup.py
  vehicle_detection_adas/setup.py
  vehicle_license_plate_detection_barrier/setup.py
  yolov4_tiny/setup.py
Due: isort, prettier, black

add hand lanmark model, palm detection model updated
  emotion_recognition_retail/main.py
  hand_pose_estimation/LICENSE
  hand_pose_estimation/checkpoint/stage_1.blob
  hand_pose_estimation/checkpoint/stage_1_.blob
  hand_pose_estimation/checkpoint/stage_2.blob
  hand_pose_estimation/hand_pose_estimation/__init__.py
  hand_pose_estimation/hand_pose_estimation/anchors.csv
  hand_pose_estimation/hand_pose_estimation/model.py
  hand_pose_estimation/hand_pose_estimation/palm_processing.py
  hand_pose_estimation/hand_pose_estimation/postprocessing.py
  hand_pose_estimation/hand_pose_estimation/ssd_anchors.csv
  hand_pose_estimation/hand_pose_estimation/utils.py
  hand_pose_estimation/main.py
  hand_pose_estimation/setup.py
  hand_pose_estimation/tests/test_openvino_hand_pose_estimation.py
  palm_detection/oak_inference_utils/__init__.py
  palm_detection/oak_inference_utils/args_parser.py
  palm_detection/oak_inference_utils/base_model.py
  palm_detection/oak_inference_utils/inference.py
  palm_detection/palm_detection/anchors.csv
Due: isort, black

add hand lanmark model, palm detection model updated
  hand_pose_estimation/checkpoint/stage_1_.blob
Due: none

added tests, visualization, changed README, fixed model preprocessing, rewrite utils
  .github/workflows/build_packages.yml
  README.md
  create_gif.py
  hand_pose_estimation/LICENSE
  hand_pose_estimation/demo.gif
  hand_pose_estimation/demo.mp4
  hand_pose_estimation/hand_pose_estimation/__init__.py
  hand_pose_estimation/hand_pose_estimation/model.py
  hand_pose_estimation/hand_pose_estimation/palm_processing.py
  hand_pose_estimation/hand_pose_estimation/postprocessing.py
  hand_pose_estimation/hand_pose_estimation/ssd_anchors.csv
  hand_pose_estimation/hand_pose_estimation/utils.py
  hand_pose_estimation/tests/hand_pose_estimation.jpg
  hand_pose_estimation/tests/hand_pose_estimation_gt.json
  hand_pose_estimation/tests/test_openvino_hand_pose_estimation.py
  palm_detection/demo.gif
  palm_detection/demo_.gif
  palm_detection/oak_inference_utils/__init__.py
  palm_detection/oak_inference_utils/args_parser.py
  palm_detection/oak_inference_utils/base_model.py
  palm_detection/oak_inference_utils/inference.py
  palm_detection/palm_detection/model.py
  palm_detection/palm_detection/postprocessing.py
  palm_detection/tests/palm_detection_gt.json
  palm_detection/tests/test_palm_detection.py
Due: isort, prettier, black

added tests, visualization, changed README, fixed model preprocessing, rewrite utils
  palm_detection/demo_.gif
Due: none

try to fix test issue
  ci/install_packages.sh
  hand_pose_estimation/demo.gif
  hand_pose_estimation/hand_pose_estimation/__init__.py
  hand_pose_estimation/hand_pose_estimation/model.py
  hand_pose_estimation/setup.py
  hand_pose_estimation/tests/hand_pose_estimation_gt.json
  hand_pose_estimation/tests/test_openvino_hand_pose_estimation.py
Due: isort, black

test
  hand_pose_estimation/tests/test_openvino_hand_pose_estimation.py
Due: isort, black

add print to logs
  hand_pose_estimation/tests/test_hand_pose_estimation.py
  palm_detection/tests/test_palm_detection.py
Due: isort, black

fix linter
  .isort.cfg
  palm_detection/tests/test_palm_detection.py
Due: isort, black

try without no-deps
  .gitlab-ci.yml
  ci/install_packages.sh
Due: prettier

rewrite ci & some code refactoring added
  .gitlab-ci.yml
  ci/install_packages.sh
  ci/run_test.sh
  ci/test_package.sh
  ci/uninstall_packages.sh
  hand_pose_estimation/hand_pose_estimation/utils.py
Due: isort, prettier, black

delete old stage
  .gitlab-ci.yml
Due: prettier

fix test_package.sh script
  ci/test_package.sh
Due: none

remove redundant install
  .gitlab-ci.yml
Due: prettier
